doctype html
html
  head
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js")
  body
    canvas(id="myChart" width="800" height="600")/
    script.
        const ctx = document.getElementById('myChart');
        fetch('/data')
        .then(data => data.json())
        .then(data => {
            let totalConfirmed = 0
            let totalTested = 0
            data.forEach(({confirmed, negativeTests}) => {
                totalConfirmed += confirmed
                totalTested += confirmed + negativeTests
            })
            const intl = new Intl.DateTimeFormat('en-US', {
                month: 'short',
                day: 'numeric'
            })
            const myChart = new Chart(ctx,
            {
                type: 'line',
                data: {
                    labels: data.map(row => intl.format(new Date(row.date))),
                    datasets: [{
                        label: '# of confirmed cases',
                        data: data.map(row => row.confirmed),
                        borderWidth: 1,
                        fill: true,
                        borderColor: 'rgba(255, 99, 132, 1)',
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    }, {
                        label: '# of tests',
                        data: data.map(row => row.confirmed + row.negativeTests),
                        fill: true
                    }, {
                        fill: false,
                        borderColor: 'rgba(0, 0, 255, 0.2)',
                        yAxisID: 'avgPercent',
                        label: '% confirmed cases',
                        data: data.map(({confirmed, negativeTests}) => {
                            return Number((confirmed) / (confirmed + negativeTests) * 100).toFixed(2)
                        })
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    responsive: true,
                    title: {
                        display: false,
                        text: 'Chart.js Line Chart'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                        position: 'nearest',
                        backgroundColor: 'rgba(0, 0, 0, 0.4)'
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Days'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Number'
                            },
                            ticks: {
                                beginAtZero: true
                            }
                        }, {
                            type: 'linear',
                            id: 'avgPercent',
                            display: true,
                            position: 'right',
                            scaleLabel: {
                                display: true,
                                labelString: 'Tests vs Confirmed %'
                            },
                            ticks: {
                                beginAtZero: true,
                                min: 0,
                                max: 100
                            }
                        }],
                    }
                }
            });
        });

